<div class="jumbotron">
    {{ form_start(form) }}
    <div class="form-row">
        <div class="col-10">
            {{ form_row(form.nom) }}
        </div>
        <div class="col">
            <button type="submit" class="btn-primary btn">Rechercher</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>