{% extends 'admin/base.html.twig' %}

{% block title 'Modifier l\'espèce : ' ~ espece.nom %}

{% block admin %}
    <div class="container-fluid">
        <h1>Modifier l'espèce : {{ espece.nom }}</h1>

        {{ include('admin/espece/_form.html.twig', {button_label : 'Modifier'}) }}

        {{ include('admin/espece/_delete_form.html.twig', {table: false}) }}

        <a href="{{ path('admin_espece_index') }}">Retour à la liste</a>
    </div>

{% endblock %}
