{% extends 'admin/base.html.twig' %}

{% block title 'Modifier l\'espèce : ' ~ espece.nom %}

{% block admin %}
    <div class="container-fluid">
        <h1>Modifier l'espèce : {{ espece.nom }}</h1>

        {{ include('admin/espece/_form.html.twig', {button_label : 'Modifier'}) }}

        {% if is_granted('ROLE_ADMIN') and espece.animaux | length == 0 %}
            {{ include('admin/espece/_delete_form.html.twig', {table: false}) }}
        {% endif %}

        <a href="{{ path('admin_espece_index') }}">Retour à la liste</a>
    </div>

{% endblock %}
