{% extends 'base.html.twig' %}

{% block title %}New Espece{% endblock %}

{% block body %}
    <h1>Create new Espece</h1>

    {{ include('admin/espece/_form.html.twig') }}

    <a href="{{ path('admin_espece_index') }}">back to list</a>
{% endblock %}
