{% extends 'admin/base.html.twig' %}

{% block title 'Modifier la personne : ' ~ personne.nom %}

{% block admin %}
    <div class="container-fluid">
        <h1>Modifier la personne : {{ personne.nom }}</h1>

        {{ include('admin/personne/_form.html.twig', {button_label : 'Modifier'}) }}

        {{ include('admin/personne/_delete_form.html.twig', {table: false}) }}

        <a href="{{ path('admin_personne_index') }}">Retour à la liste</a>
    </div>

{% endblock %}
