{% extends 'admin/base.html.twig' %}

{% block title 'Modifier l\'adresse : ' ~ adresse.intitule %}

{% block admin %}
    <div class="container-fluid">
        <h1>Modifier l'adresse : {{ adresse.intitule }}</h1>

        {{ include('admin/adresse/_form.html.twig', {button_label : 'Modifier'}) }}

        {{ include('admin/adresse/_delete_form.html.twig', {table: false}) }}

        <a href="{{ path('admin_adresse_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
