{% extends 'admin/base.html.twig' %}

{% block title 'Ajouter une adresse' %}

{% block admin %}
    <div class="container-fluid">
        <h1>Ajouter une nouvelle adresse</h1>

        {{ include('admin/adresse/_form.html.twig', {button_label : 'Ajouter'}) }}

        <a href="{{ path('admin_adresse_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
