{% extends 'base.html.twig' %}

{% block title %}New Adresse{% endblock %}

{% block body %}
    <h1>Create new Adresse</h1>

    {{ include('admin/adresse/_form.html.twig') }}

    <a href="{{ path('admin_adresse_index') }}">back to list</a>
{% endblock %}
