<form method="post" action="{{ path('admin_animal_delete', {id: animal.id}) }}"
      onsubmit="return confirm('Voulez-vous vraiment supprimer cet animal?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ animal.id) }}">
    {% if table %}
        <button class="btn btn-link text-danger"><i class="fas fa-trash-alt"></i></button>
    {% else %}
        <button class="btn btn-danger">{{ button_label|default('Supprimer') }}</button>
    {% endif %}
</form>
