{% extends 'admin/base.html.twig' %}

{% block title %}Edit Animal{% endblock %}

{% block admin %}
    <h1>Edit Animal</h1>

    {{ include('admin/animal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_animal_index') }}">back to list</a>

    {{ include('admin/animal/_delete_form.html.twig') }}
{% endblock %}
